@import "tailwindcss";

@layer utilities {
  .glass {
    @apply bg-white/20 backdrop-blur-lg border border-white/30 shadow-xl;
  }
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  min-width: 100vw;
}

#root {
  display: flex;
  flex: 1;
  width: 100%;
}