@import "tailwindcss";

@layer utilities {
  .glass {
    @apply bg-white/20 backdrop-blur-lg border border-white/30 shadow-xl;
  }
}

html,
body {
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

body {
  display: flex;
  min-height: 100vh;
}

#root {
  display: flex;
  flex: 1;
  width: 100%;
}